h2{
    text-align: center;
    color: darkslategrey;
  }
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 10px;
    background: rgb(0, 92, 128);
    color: white;
    resize: none;
  }
::placeholder { 
    color: white;
    opacity: 1; 
  } 